@font-face {
  font-family: "iconfont"; /* Project id 3444545 */
  src: url('//at.alicdn.com/t/font_3444545_muz733nxgcq.woff2?t=1654302854252') format('woff2'),
       url('//at.alicdn.com/t/font_3444545_muz733nxgcq.woff?t=1654302854252') format('woff'),
       url('//at.alicdn.com/t/font_3444545_muz733nxgcq.ttf?t=1654302854252') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hongbao:before {
  content: "\e602";
}

.icon-yijianfankui:before {
  content: "\e662";
}

.icon-jifen:before {
  content: "\e897";
}

.icon-dingdan:before {
  content: "\e898";
}

.icon-kefu1:before {
  content: "\ec2e";
}

.icon-dizhiguanli:before {
  content: "\e694";
}

.icon-bangzhuzhongxin:before {
  content: "\e7d6";
}

.icon-shouhou:before {
  content: "\e624";
}

.icon-zhanghaoanquan:before {
  content: "\e736";
}

.icon-pintuan:before {
  content: "\e63b";
}

.icon-31xuanzhong:before {
  content: "\e601";
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-gerenzhongxin:before {
  content: "\e653";
}

.icon-search:before {
  content: "\e82e";
}
